*{
    margin: 0;
    font-family: 'DM Sans', sans-serif;
}
.header{
    display: flex;
    flex-direction: row;
    padding-top: 5vh;
    padding-left: 10vw;
    align-items: center;
    align-content: center;
    justify-content: space-between;
}
.header img{
    width: 5vw;
}
.header ul{
    padding-right: 10vw;
    list-style: none;
}
.header ul li{
    margin-left: 3vw;
    margin-right: 3vw;
    float: left;
    font-weight: 500;
    font-size: 1.3rem;
    transition: all 0.3s ease;
}
.header ul li:hover{
    color: #036635;
    cursor: pointer;
    text-decoration: underline #036635;
}
.circle{
    height: 65vw;
    width: 65vw;
    border-radius: 50%;
    background-color: #036635;
    z-index: -2;
    position: fixed;
    right: 0;
    bottom: 0;
    margin-right: -25vw;
    margin-bottom: -30vw;
}
.main{
    color: rgb(52, 52, 52);
    display: flex;
    width: 80vw;
    margin-inline: auto;
    justify-content: space-between;
    align-items: center;
}
.text{
    width: 37vw;
}
.main h1{
    line-height: 1.1;
    font-size: 4rem;
}
.main h1 span{
    font-family: 'Open Sans', sans-serif;
    color:#036635;
    font-size: 5rem;
    font-weight: 700;
}
.main p{
    margin-top: 2vh;
    text-align: justify;
    font-size: 1.3rem;
    font-weight: 500;
}
.cup{
    margin-right: 5vw;
    height: 45rem;
    width: auto;
    transform: rotate(-17deg);
}
.main h2{
    margin-top: 3vh;
    background-color: #036635;
    border: 1px solid #036635;
    color: white;
    padding: 10px 15px;
    width: fit-content;
    border-radius: 50px;
    transition: all 0.3s ease;
}
.main h2:hover{
    cursor: pointer;
    background-color: rgb(221, 221, 221);
    color: #036635;
    border: 1px solid #036635;
}
.icons{
    filter: invert(1);
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    right: 0;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}
.icons img{
    z-index: 2;
    margin-top: 2rem;
    width: 2vw;
    transition: all 0.3s ease;
}
.icons img:hover{
    cursor: pointer;
    transform: scale(1.3);
}